.navbar-container {
    width: 100%;
    background: #FF0000;
    position: absolute;
    left: 0px;
    top:0em;
    margin-left: 1;
    border-radius: 20px;
}

.navbar-list {
    list-style: none;
    padding: 15px;
    flex-wrap: wrap;
}

.navbar-list .btn {
    margin-right: 100px;
    border-radius: 15px;
}

@media (max-width: 768px) {
    .navbar-list .btn {
        margin-right: 10px;
    }
}
